.block {
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
    max-width: 650px;
    padding: 20px;
    background-color: #E5F7FF;
}

.container {
    list-style-type: none;
    display: grid;
    row-gap: 20px;
}

.buttonRemove {
    cursor: pointer;
    padding: 7px 5px;
    border-radius: 7px;
    border: 1px solid #fefefe;
}

.btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 12px;
    cursor: pointer;
    background-color: aquamarine;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    width: 120px;
    text-decoration: none;
    color: black;
}

.btn:hover {
    background-color: rgb(107, 218, 181);
}